# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
**/*.tfplan

# Python
**/.venv/
**/dist/
**/__pycache__/
**/*.pyc

# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
**/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
*.log
